/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.admin-head {
  background: #da5838;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  color:#fff;
}

.admin-info {
  background: white;
  padding: 5px 15px;
}

.admin-info ul {
  list-style-type: none;
  padding-left: 0;
}

.admin-info li {
  border-bottom: 1px solid #efefef;
  padding-top: 5px;
}

.admin-info span {
  float: right;
}

.admin-info nav.pagination span {
  float: none;
}

.panel-head {
  background: #da5838;
  padding:15px;
  color:#fff;
}

.overview .row-fluid [class*="span"] {
    margin-left: 0 !important;
}

.overview {
  background: white;
  padding: 1em;
}

div.latest {
  background: #efefef;
  margin: 0.5em 1em;
  padding: 0.5em;
  line-height: 1em;
}

div.latest img{
  margin-right: 0.5em;
}

div.latest div{
  text-align: center;
}

div.latest div a{
  max-width: 100%;
  padding: 0;
}

div.index-list-style{
  background: #efefef;
  margin:1em;
  padding: 0.5em;
}

div.index-list-style span{
  display: block;
}