<h1>ArticleClusterCategories#index</h1>
<p>Find me in app/views/administration/article_cluster_categories/index.html.erb</p>

<table>
  <% @clusters.each do |cluster| %>
    <tr>
      <td><%= cluster.title %></td>
      <td><%= link_to "Edit", administration.edit_article_cluster_category_path(cluster.id) %></td>
    </tr>
  <% end %>
</table>