<div class="row-fluid">
  <div class="span9">
    <div class="admin-head ">
      <h1>Edit category</h1>
    </div>
    <div class="blog-showcase">
      <%= render 'form' %>
    </div>
  </div>
  
  <%= render :file => "#{Administration::Engine.root}/app/views/shared/_adminaside.html.erb" %>
</div>