<h1>ArticleCategories#index</h1>
<p>Find me in app/views/administration/article_categories/index.html.erb</p>
<%= link_to "Sign out", auth.destroy_admin_session_path, method: :delete %>
<table>
  <% @categories.each do |category| %>
    <tr>
      <td><%= restore_whitespace(category.title) %></td>
      <td><%= link_to "Edit", administration.edit_article_category_path(category.id) %></td>
    </tr>
  <% end %>
</table>